* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --containerSize: 600px;
    /* --cellSize is defined with javascript */
    --cellSize: 0px;
}

#grid-container {
    margin: 3rem;
    width: var(--containerSize);
    height: var(--containerSize);
    border: 1px solid red;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.grid-cell {
    border: 0.1px solid grey;
    width: var(--cellSize);
    height: var(--cellSize);
    background-color: lightgrey;
}