* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#grid-container {
    border-color: red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.grid-cell {
    border: 1px solid black;
    padding: 100px;
    
    
}