* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#grid-container {
    margin-top: 5rem;
    border-color: red;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* align-content: center; */
}

.grid-cell {
    border: 0.1px solid black;
    padding: 50px;
}